table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: white;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    color: #333;
}

tr:hover {
    background-color: #f1f1f1;
}

/* Responsividade */
@media (max-width: 600px) {
    input[type="number"],
    input[type="text"],
    input[type="date"],
    select {
        font-size: 14px;
    }

    button {
        padding: 8px;
        font-size: 14px;
    }

    th, td {
        padding: 8px;
    }
}